@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Roboto:300,400");
body, html {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: #141414;
  color: #cccccc;
  font-size: 16px;
  font-family: "Crimson Text", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-1140 {
  width: min(1140px, 100% - 3rem);
  margin-inline: auto;
}

.container-950 {
  width: min(950px, 100% - 2rem);
  margin-inline: auto;
}

.container-500 {
  width: min(500px, 100% - 2rem);
  margin-inline: auto;
}

body.extra-dark {
  background-color: #090909;
}

h2 {
  font-size: 3rem;
}

.home-padding {
  padding-top: 400px;
}

.responsive-break {
  display: none;
}

svg.logo {
  width: 650px;
  transition: 0.5s;
}

.logo-black {
  fill: #000000;
  transition: 0.5s;
}

.logo-silver {
  fill: #cccccc;
  transition: 0.5s;
}

.red-text {
  color: rgb(194, 45, 45);
}

.btn-goth-red {
  background-color: rgb(194, 45, 45);
  border: 1px solid rgb(138, 33, 33);
  color: #cccccc;
}
.btn-goth-red:hover {
  background-color: rgb(163, 39, 39);
  border: 1px solid rgb(109, 26, 26);
}
.btn-goth-red:disabled:hover {
  background-color: rgb(194, 45, 45);
  border: 1px solid rgb(138, 33, 33);
}

section, footer {
  padding: 50px 0;
}

a.text-link {
  color: #cccccc;
  transition: 0.2s;
}
a.text-link:hover {
  background-color: rgb(194, 45, 45);
  transition: 0.2s;
  text-decoration: none;
}

a:focus-visible,
a.btn-goth-red:focus-visible,
select:focus-visible,
select:focus,
.selector label.select-label:focus-visible {
  outline: 2px solid rgb(194, 45, 45) !important;
  outline-offset: 4px;
}

section.top-section {
  background-color: #141414;
  height: 350px;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -10;
  text-align: center;
}

.dark-fade {
  background: rgba(14, 14, 14, 0.8);
  background: -o-linear-gradient(rgba(0, 0, 0, 0) 2%, rgba(14, 14, 14, 0.8) 15%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#111111", endColorstr="#181818",GradientType=0 );
  background: linear-gradient(rgba(0, 0, 0, 0) 2%, rgba(14, 14, 14, 0.8) 15%);
}

section.intro {
  padding-top: 65px;
  text-align: center;
}
section.intro .intro-text {
  padding: 40px 0;
  border-bottom: 1px solid #cccccc;
  font-size: 1.2rem;
  line-height: 175%;
}
section.intro .intro-text p {
  margin-bottom: 40px;
}
section.intro .intro-text p:last-child {
  margin-bottom: 0;
}
section.intro .night-info {
  padding: 40px 0;
  border-bottom: 1px solid #cccccc;
  line-height: 250%;
}
section.intro .night-info .info-inner {
  background-color: #141414;
  padding: 25px;
  font-size: 1.5rem;
}
section.intro .night-info .info-inner p.details {
  margin-bottom: 0;
}
section.intro .special-event {
  padding: 25px 0 35px 0;
  border-bottom: 1px solid #cccccc;
}
section.intro .special-event h2 {
  margin-bottom: 25px;
}
section.intro .special-event .event-banner {
  border: 1px solid #cccccc;
  opacity: 0.9;
}
section.intro .special-event .event-banner a img {
  transition: 0.2s;
}
section.intro .special-event .event-banner a:hover img {
  transition: 0.2s;
  opacity: 0.4;
}
section.intro .special-event .event-description {
  padding-top: 25px;
  font-size: 1.2rem;
}
section.intro .special-event .event-description h3.event-sub-head {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-bottom: 15px;
}
section.intro .special-event .event-description h3.event-sub-head span {
  color: #333333;
  background-color: #cccccc;
}
section.intro .special-event .event-description h3.event-sub-head br {
  display: none;
}
section.intro .special-event .event-description p:last-child {
  margin-bottom: 0;
}
section.intro a.rsvp-link:hover {
  text-decoration: none;
  color: #cccccc;
}

.form-control:focus {
  border-color: inherit;
  box-shadow: none;
}

section.playlists {
  padding-top: 0;
  font-size: 1.3rem;
  text-align: center;
}
section.playlists h2 {
  margin-bottom: 50px;
}
section.playlists .selector {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 15px;
}
section.playlists .selector .select-label {
  display: block;
  position: relative;
  width: 400px;
}
section.playlists .selector select {
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
  border: 0;
  width: 100%;
  height: 70px;
  cursor: pointer;
  transition: 0.2s;
}
section.playlists .selector select:hover {
  box-shadow: 0 0px 40px #1d1d1d;
  transition: 0.2s;
}
section.playlists .selector select:focus {
  -webkit-appearance: none;
  outline: none;
}
section.playlists .selector select option {
  -webkit-appearance: none;
  outline: none;
}
section.playlists .selector .select-span {
  background: #151515;
  border-bottom: 5px solid rgb(194, 45, 45);
  line-height: 70px;
  text-align: center;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
section.playlists .playlist {
  display: none;
}
section.playlists .playlist ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
section.playlists .playlist ul li {
  margin-bottom: 5px;
}
section.playlists .playlist button.close-list {
  margin: 15px 0;
}
section.playlists p.moon-icon {
  font-size: 2rem;
  margin-bottom: 0;
}

.bottom-info {
  padding: 45px 0 10px 0;
  text-align: center;
}
.bottom-info img {
  width: 100px;
  margin-bottom: 15px;
}
.bottom-info a.text-link {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.bottom-info p.copy {
  font-size: 14px;
  font-family: "Crimson Text", serif;
}

.diamond-link {
  border: 1px solid #cccccc;
  background-color: #1b1b1b;
  width: 75px;
  height: 75px;
  line-height: 1;
  rotate: 45deg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
}
.diamond-link:hover {
  border-color: #000000;
  color: #000000;
  background-color: #141414;
  box-shadow: 0 0 14px #292929;
  text-decoration: none;
  transition: 0.2s;
}

.diamond-link:hover .diamond-icon {
  color: #000000;
}

.bottom-info .links {
  margin-bottom: 50px;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.diamond-icon {
  color: #cccccc;
  rotate: -45deg;
  transition: 0.2s;
}
.diamond-icon:hover {
  transition: 0.2s;
  text-decoration: none;
}
.diamond-icon:active {
  color: #cccccc;
}
.diamond-icon .fa {
  display: unset;
}

section.login {
  padding: 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.login-container {
  padding: 25px;
  border: 1px solid #cccccc;
  background-color: rgba(255, 255, 255, 0.05);
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.login-container .login-logo {
  width: 130px;
}

form#login-form .text-input {
  background-color: #181818;
  color: #cccccc;
  border-color: black;
}

div.red-text {
  padding-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.error-msg {
  color: rgb(194, 45, 45);
  margin-top: 15px;
}

.success-msg {
  color: #cccccc;
  margin-top: 15px;
}

.admin-container {
  padding-top: 50px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.admin-container .logo-container {
  margin-bottom: 50px;
  text-align: center;
}
.admin-container .logo-container .admin-logo {
  width: 250px;
  margin-bottom: 15px;
}
.admin-container .logo-container .admin-sub-head {
  display: block;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.admin-container .date-row, .admin-container .field-row {
  margin-bottom: 10px;
}
.admin-container .field-row input, .admin-container .field-row textarea {
  background-color: #141414;
  color: #cccccc;
  border-color: #000000;
}
.admin-container .field-row p.caption {
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 300;
}
.admin-container .admin-box {
  border: 1px solid #666666;
  background-color: #242424;
}
.admin-container .admin-box .card-header {
  background-color: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid #666666;
}
.admin-container .admin-box h4 {
  margin-bottom: 0;
}
.admin-container .ready-submit-label {
  cursor: pointer;
  border: 1px solid #666666;
  background-color: #555555;
  color: #cccccc;
  border-radius: 4px;
  width: 100%;
  padding: 5.5px 0;
}
.admin-container .ready-submit-label i.fa {
  font-size: 1.3rem;
  position: relative;
  top: 2px;
}
.admin-container .ready-submit-label input {
  display: none;
}
.admin-container .playlist-search-results {
  display: none;
  margin-top: 35px;
}
.admin-container .playlist-search-results hr {
  border-color: #666666;
}
.admin-container .playlist-search-results p.result-count {
  font-weight: bold;
}

.stat-count-box .stat-count-header {
  font-size: 1.5rem;
  font-weight: lighter;
  font-weight: 300;
  padding-bottom: 10px;
  border-bottom: 1px solid #666666;
}
.stat-count-box .stat-listings {
  padding-top: 20px;
}
.stat-count-box .column-container {
  -moz-column-gap: 55px;
       column-gap: 55px;
}
.stat-count-box .column-container ol {
  padding-left: 1rem;
}
.stat-count-box .column-container ol li {
  margin-bottom: 10px;
}
.stat-count-box .column-container span.result-item {
  font-weight: 300;
}
.stat-count-box .column-container span.result-artist {
  text-transform: uppercase;
  font-weight: bold;
}
.stat-count-box .column-container span.result-count {
  font-style: italic;
  font-size: 0.9rem;
}
.stat-count-box .col-contain-2 {
  -moz-column-count: 2;
       column-count: 2;
}
.stat-count-box .col-contain-4 {
  -moz-column-count: 4;
       column-count: 4;
}

.note {
  margin: 50px 0;
  font-size: 0.9rem;
  font-style: italic;
}

#logout {
  width: 100%;
  max-width: 400px;
  margin-inline: auto;
}

.night-live-wrapper {
  padding: 50px 25px;
}

.night-live-header {
  text-align: center;
  margin-bottom: 75px;
}
.night-live-header img {
  width: 125px;
  margin: 0 auto;
  opacity: 0.5;
}

.live-content-holder {
  width: min(1100px, 100% - 1.5rem);
  margin-inline: auto;
}
.live-content-holder .iframe-contain {
  margin-bottom: 25px;
  border: 1px solid #303030;
}
.live-content-holder .caption {
  text-align: center;
}
.live-content-holder .previous-events-holder {
  margin-top: 25px;
  padding-top: 50px;
  border-top: 1px solid #303030;
  display: flex;
  flex-wrap: wrap;
}
.live-content-holder .previous-event {
  width: 20%;
  margin-right: 2%;
  text-align: center;
}
.live-content-holder .previous-event:nth-child(4) {
  margin-right: 0;
}
.live-content-holder .previous-event img {
  width: 100%;
  border: 1px solid #303030;
  transition: 0.2s;
}
.live-content-holder .previous-event .img-overlay-container {
  position: relative;
}
.live-content-holder .previous-event .img-overlay-container .play-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  color: rgb(194, 45, 45);
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  display: none;
  transition: 0.2s;
}
.live-content-holder .previous-event a {
  color: #cccccc;
  font-size: 1.2rem;
  transition: 0.2s;
}
.live-content-holder .previous-event a:hover {
  transition: 0.2s;
  text-decoration: none;
  color: rgb(194, 45, 45);
  cursor: pointer;
}
.live-content-holder .previous-event a:hover img {
  border-color: rgb(194, 45, 45);
  transition: 0.2s;
}
.live-content-holder .previous-event a:hover .img-overlay-container .play-overlay {
  display: flex;
  transition: 0.2s;
}
.live-content-holder .previous-event a:hover .img-overlay-container .play-overlay i.fa {
  text-shadow: 1px 2px 4px #151515;
}
.live-content-holder .previous-event a span {
  display: block;
  margin-top: 10px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
}

section.page-not-found {
  text-align: center;
}
section.page-not-found h2 {
  font-size: 3rem;
  margin-bottom: 25px;
}
section.page-not-found p {
  font-size: 1.3rem;
}
section.page-not-found .oops-logo {
  width: 60%;
  margin-bottom: 15px;
}
section.page-not-found a.btn-goth-red {
  width: 60%;
}
section.page-not-found a.btn-goth-red:hover {
  color: #cccccc;
}
section.page-not-found .back-home {
  margin-top: 40px;
  padding: 40px 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

@media only screen and (max-width: 1199px) {
  .night-live-wrapper {
    padding: 25px;
  }
  .night-live-header {
    margin-bottom: 50px;
  }
  .night-live-header img {
    width: 125px;
  }
  .live-content-holder .iframe-contain {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 991px) {
  span.responsive-break {
    display: inline;
  }
  .night-live-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .admin-container .field-row input[name=item-search] {
    margin-bottom: 10px;
  }
  .admin-container .playlist-search-button {
    margin-bottom: 10px;
  }
  .admin-container .col-contain-4,
  .admin-container .col-contain-2 {
    -moz-column-count: 1;
         column-count: 1;
  }
}
@media only screen and (min-width: 445px) and (max-width: 670px) {
  .home-padding {
    padding-top: 300px;
  }
  svg.logo {
    width: 425px;
  }
}
@media only screen and (max-width: 699px) {
  .live-content-holder .previous-event {
    width: 31%;
  }
  .live-content-holder .previous-event a {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 575px) {
  section.page-not-found img.oops-logo {
    width: 80%;
  }
  section.page-not-found h2 {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 515px) {
  section.intro .special-event .event-description h3.event-sub-head br {
    display: inline;
  }
}
@media only screen and (max-width: 444px) {
  .home-padding {
    padding-top: 200px;
  }
  svg.logo {
    width: 325px;
  }
  section.intro .intro-text {
    font-size: 1rem;
    line-height: 175%;
  }
  section.intro .night-info {
    line-height: 250%;
  }
  section.intro .night-info .info-inner {
    font-size: 1.3rem;
  }
  section.intro .special-event .event-description h3.event-sub-head {
    font-size: 2rem;
    line-height: 125%;
  }
  section.intro .special-event p {
    font-size: 1.2rem;
    line-height: 175%;
  }
  section.playlists {
    font-size: 1.2rem;
  }
  section.playlists .selector {
    width: 310px;
  }
  section.playlists .selector .select-label {
    width: 310px;
  }
}
@media only screen and (max-width: 300px) {
  svg.logo {
    width: 250px;
  }
  section.playlists {
    font-size: 1rem;
  }
  section.playlists .selector {
    width: 250px;
  }
  section.playlists .selector .select-label {
    width: 250px;
  }
}
@media only screen and (max-width: 352px) {
  .bottom-info .links {
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
  }
  section.playlists .selector {
    width: 250px;
  }
  section.playlists .selector .select-label {
    width: 250px;
  }
}/*# sourceMappingURL=styles.css.map */